.content {
    text-align: justify;
}

@media screen and (min-width: 700px) {
    .content {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.image {
    text-align: center
}

.centered {
    text-align: center;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;

}

.title {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1.8rem;
    line-height: 1.1;
}

.date {
    text-align: right;
    margin-bottom: 10px;
    font-style: italic;
}